@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = null;
}

<h2>@ViewData["Title"]</h2>

<p>If an account with the email provided exists, a password reset link has been sent to that email.</p>
