@model DRS.Models.DocumentCategory

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                
                <input asp-for="CategoryId" type="hidden" class="form-control" />
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryDetails" class="control-label"></label>
                <input asp-for="CategoryDetails" class="form-control" />
                <span asp-validation-for="CategoryDetails" class="text-danger"></span>
            </div>

            <input asp-for="CreatedDate" type="hidden" value="@DateTime.Now" class="form-control" />
                
         
            <div class="form-group d-flex justify-content-center gap-4">
                <a type="button" class="btn buttonCustom2" data-dismiss="modal">Cancel</a>
                <input type="submit" value="Create" class="btn buttonCustom" />
            </div>
        </form>
    </div>
</div>

